<br />
<div class="container">
  <div class="row">
      <div class="col-sm-12 col-lg-3">
          <mainmenu-container class="hidden-xs"></mainmenu-container>
      </div>

      <!-- <div class="col-sm-12 col-lg-9" [@slideInAnimation]="o.isActivated ? o.activatedRoute : ''"> -->
      <div class="col-sm-12 col-lg-9">
          <router-outlet #o="outlet"></router-outlet>
<!--
          <div class="bg-primary">
            <router-outlet name="detail"></router-outlet>
          </div> -->

          <div *ngIf="loading" class="spincontainer">
            <span class="fa fa-spinner spinner"></span>
          </div>
      <!-- </div> -->
  </div>
</div>
