<form *ngIf="data$ | async" [formGroup]="frmItem">
    <div class="panel panel-primary scms">
        <div class="panel-heading">Manage Item</div>
        <div class="panel-body">
            <div class="col-sm-12">
                <div class="form-group"
                    [ngClass]="{'has-error': frmItem.controls.itemDescription.invalid && frmItem.controls.itemDescription.dirty}">
                    <label for="itemDesc">Item Description</label>
                    <input class="form-control" formControlName="itemDescription">
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="cost">Item Cost</label>
                    <input class="form-control" formControlName="cost">
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="price">Item Price</label>
                    <input class="form-control" formControlName="price">
                </div>
            </div>

            <div class="col-sm-12 text-right my-3">
                <button class="pull-right btn btn-primary mx-2"
                        [ngClass]="{'disabled': frmItem.invalid || !frmItem.dirty}"
                        [disabled]="!frmItem.dirty"
                        (click)="onSave()">
                    Save
                </button>
                <button class="pull-right btn btn-light btn-outline-dark"
                        (click)="onCancel()">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</form>