<div class="container">
    <div style="text-align:center">
        <img width="300" src="supplychain.jpg">
    </div>
    <div class="panel panel-default">
        <div class="panel-heading text-center">Main Menu</div>
        <div class="panel-body">
            <div class="col-sm-12 text-center">
            <a class="btn btn-primary" routerLink="/itemlist" routerLinkActive="active">Items</a>
            <a class="btn btn-primary" routerLink="/item" routerLinkActive="active">Item</a>
            </div>
        </div>
    </div>
</div>