<header></header>
<div class="panel panel-primary scms">
    <div class="panel-heading">{{mode === 'L' ? 'Manage' : 'Post'}} Purchase Order</div>
    <div class="panel-body">
        <div class="row my-3">
            <div *ngIf="mode === 'L'" class="col-sm-12 text-right">
                <button type="submit" class="btn btn-success" (click)="onAddClicked()">
                    <i class="fas fa-plus-circle"></i>
                    Add New
                </button>
            </div>
        </div>
        
        <div class="scrollable">
            <datatable  #datatable
                        [showFilterRow]="false"
                        [allowEditing]="false"
                        [allowReordering]="false"
                        [page]="pageNo"
                        (tableChanged)="onChangeTable(config)"
                        (pageChanged)="onPageChanged($event)"
                        (linkClicked)="onLinkClicked($event)"
                        (cellClicked)="onCellClick($event)"
                        [tableData]="rows$ | async"
                        [columns]="columns">
            </datatable>
        </div>
    </div>
</div>