<form *ngIf="data$ | async" [formGroup]="frmMain">
    <div class="panel panel-primary scms">
        <div class="panel-heading">Manage Inventory</div>
        <div class="panel-body">
            <div class="col-sm-12">
                <div class="form-group"
                    [ngClass]="{'has-error': frmMain.controls.inventoryDescription.invalid && frmMain.controls.inventoryDescription.dirty}">
                    <label for="inventoryDesc">Inventory Description</label>
                    <input class="form-control" formControlName="inventoryDescription">
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="cost">Address</label>
                    <input class="form-control" formControlName="address">
                </div>
            </div>

            <div class="scrollable">
                <div style="min-width: 500px">
                    <datatable  #datatable
                                [disabled]="isDisabled"
                                [showFilterRow]="false"
                                [allowEditing]="false"
                                [allowAddition]="false"
                                [allowReordering]="false"
                                [showTotals]="false"
                                [page]="pageNo"
                                (tableChanged)="onChangeTable(config)"
                                [tableData]="items$ | async" [columns]="columns">
                    </datatable>
                </div>
            </div>

            <command-panel (save)="onSave($event)" (cancel)="onCancel($event)" [disabled]="frmMain.invalid || !frmMain.dirty"></command-panel>
        </div>
    </div>
</form>