<header></header>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Manage Item</div>
        <div class="panel-body">

        <div class="row">
            <ng-table [config]="config"
                    [showFilterRow]="false"
                    [allowEditing]="false"
                    [allowReordering]="false"
                    (tableChanged)="onChangeTable(config)"
                    (linkClicked)="onLinkClicked($event)"
                    (cellClicked)="onCellClick($event)"
                    [rows]="rows" [columns]="columns">
            </ng-table>
            <pagination *ngIf="config.paging"
                        class="pagination-sm"
                        [(ngModel)]="page"
                        [totalItems]="length"
                        [itemsPerPage]="itemsPerPage"
                        [maxSize]="maxSize"
                        [boundaryLinks]="true"
                        [rotate]="false"
                        (pageChanged)="onChangeTable(config, $event)"
                        (numPages)="numPages = $event">
            </pagination>
        </div>
    </div>
</div>