<div class="panel panel-default">
    <div class="panel-heading text-center">
        <a routerLink="/">Main Menu</a>
    </div>
    <div class="panel-body">
        <nav class="navbar navbar-expand">
            <ul class="navbar-nav row">
                <!-- <a class="btn btn-primary col-xs-5 col-md-3 col-lg-12 m-1 text-center border-radius-1" routerLink="/inventorylist" routerLinkActive="active">Inventory</a> -->
                <li class="nav-item col-xs-12 col-sm-6 col-md-4 col-lg-12 pb-1 px-1 text-center border-radius-1"><a class="nav-link text-light bg-primary" routerLink="homepage" routerLinkActive="active">Home</a></li>
                <li class="nav-item col-xs-12 col-sm-6 col-md-4 col-lg-12 pb-1 px-1 text-center border-radius-1"><a class="nav-link text-light bg-primary" routerLink="items" routerLinkActive="active">Item</a></li>
                <li class="nav-item col-xs-12 col-sm-6 col-md-4 col-lg-12 pb-1 px-1 text-center border-radius-1"><a class="nav-link text-light bg-primary" routerLink="inventories" routerLinkActive="active">Inventory</a></li>
                <li class="nav-item col-xs-12 col-sm-6 col-md-4 col-lg-12 pb-1 px-1 text-center border-radius-1"><a class="nav-link text-light bg-primary" routerLink="vendors" routerLinkActive="active">Vendor</a></li>
                <li class="nav-item col-xs-12 col-sm-6 col-md-4 col-lg-12 pb-1 px-1 text-center border-radius-1"><a class="nav-link text-light bg-primary" routerLink="purchaseorders/L" routerLinkActive="active">Purchase Order</a></li>
                <li class="nav-item col-xs-12 col-sm-6 col-md-4 col-lg-12 pb-1 px-1 text-center border-radius-1"><a class="nav-link text-light bg-primary" routerLink="purchaseorders/P" routerLinkActive="active">Post Purchase Order</a></li>
                <li class="nav-item col-xs-12 col-sm-6 col-md-4 col-lg-12 pb-1 px-1 text-center border-radius-1"><a class="nav-link text-light bg-primary" routerLink="receipts/L" routerLinkActive="active">Inventory Receipt</a></li>
                <li class="nav-item col-xs-12 col-sm-6 col-md-4 col-lg-12 pb-1 px-1 text-center border-radius-1"><a class="nav-link text-light bg-primary" routerLink="receipts/P" routerLinkActive="active">Post Inventory Receipt</a></li>
                <li class="nav-item col-xs-12 col-sm-6 col-md-4 col-lg-12 pb-1 px-1 text-center border-radius-1"><a class="nav-link text-light bg-primary" routerLink="reports" routerLinkActive="active">Reports</a></li>
            </ul>
        </nav>
    </div>
</div>
