<header></header>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Manage Item</div>
        <div class="panel-body">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="itemDesc">Item Description</label>
                    <input type="itemDesc" class="form-control" id="itemDesc">
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="cost">Item Cost</label>
                    <input type="cost" class="form-control" id="cost">
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="price">Item Price</label>
                    <input type="price" class="form-control" id="price">
                </div>
            </div>
            <div class="col-sm-12">
                <button type="submit" class="pull-right btn btn-primary" (click)="onSave()">Save</button>
            </div>
        </div>
    </div>
</div>